@media screen and (min-width: 1024px) {
    .content {
        display: flex;
    }

    h1 {
        font-size: 5em;
    }

    img {
        width: 300px;
    }
}

@media screen and (max-width: 530px) {
    h1 {
        font-size: 2.5em;
    }

    img {
        width: 200px;
    }
}